<!DOCTYPE html>
<html>
<head>
    <!-- онлайн-помощник. Обратный звонок RedHelper -->
    <script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async" src="https://web.redhelper.ru/service/main.js"></script>
    <!-- /RedHelper -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter49118869 = new Ya.Metrika2({
						id:49118869,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true,
						webvisor:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/tag.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49118869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script type="text/javascript" src="templates/goldfish/js/jquery.min.js"></script>
    <script type="text/javascript" src="templates/goldfish/js/jquery.noconflict.js"></script>
    <meta name="viewport" content="width=device-width">
    <!-- <base href="C:\Users\VovkaA6\goldfish-nmsk.ru\" />   -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Новомосковск GoldFish" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Главная</title>
    <link href="templates/goldfish/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="templates/goldfish/css/style.css" type="text/css" />
    <link rel="stylesheet" href="templates/goldfish/css/jquery.fancybox.min.css" type="text/css" />
    <link rel="stylesheet" href="modules/mod_news_pro_gk5/interface/css/style.css" type="text/css" />
    <link rel="stylesheet" href="templates/goldfish/html/mod_unite_nivoslider/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="templates/goldfish/html/mod_unite_nivoslider/themes/default/default.css" type="text/css" />
    <script src="templates/goldfish/js/jquery.fancybox.min.js" type="text/javascript"></script>
    <script src="templates/goldfish/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="templates/goldfish/js/script.js" type="text/javascript"></script>
    <script src="templates/goldfish/js/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="http://api-maps.yandex.ru/2.0/"></script>
    <script src="modules/mod_news_pro_gk5/interface/scripts/engine.jquery.js" type="text/javascript"></script>
    <script src="templates/goldfish/html/mod_unite_nivoslider/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
		ymaps.ready(init_5e135dbee1a42);
		function init_5e135dbee1a42 () {
				var myMap = new ymaps.Map("ymaps-5e135dbee1a05", {center: [38.28616644970696,54.01690195921071],zoom: 16,type: "yandex#map"});
		myMap.controls.add('zoomControl');
		myMap.geoObjects.add(new ymaps.Placemark([38.289975186508144,54.01681982046626],
						{ iconContent: 'GoldFish',hintContent: '',balloonContent: '' },
						{ preset: 'twirl#lightblueStretchyIcon' }
						));
		/* пример кода добавления еще одной метки myMap.geoObjects.add(new ymaps.Placemark([54.274161,56.096468], { iconContent: 'Текст метки',hintContent: '', balloonContent: 'Описание, балун' },   {   preset: 'twirl#blueStretchyIcon'} )); */
		};
    </script>

</head>

<body>

    <div id="page">
        <div id="header">
            <div class="hr-top"><p>Доставка пиццы, суши и роллов в Новомосковске с 10:30 до 23:00</p></div>
            <div class="hr-center">
                <div id="logo">
                    <a href="index.html" title="Доставка пиццы, суши, роллов в Новомосковске - кафе GoldFish"><img src="images/logo.png" alt="Доставка пиццы, суши, роллов в Новомосковске - кафе GoldFish" /></a>
                </div>
                <div class="hrc-phones">
                    <span class="hrcp-free">
                        <a href="tel:+7(906)5300080"><b>8-906-530-0080</b></a>
                    </span>
                    <span>
                        <a href="tel:+7(960)5950202">8-960-595-0202</a>
                    </span>
                </div>
                <div class="mm-shadow"></div>
                <span class="mm-icon"></span>
                <!-- меню для мобилы (меню справа Главная Акции и т.д.) -->
                <div id="mobile-menu">
                    <ul class="menu">
                        <li class="item-291 active"><a href="index.html">Главная</a></li>
                        <li class="item-302"><a href="stock">Акции</a></li>
                        <li class="item-303"><a href="dostavka-i-oplata.html">Доставка и Оплата</a></li>
                        <li class="item-304"><a href="comments.html">Отзывы</a></li>
                        <li class="item-309"><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <!--меню для компа (меню справа Главная Акции и т.д.)-->
                <div id="main-menu">
                    <ul class="menu">
                        <li class="item-101 current active"><a href="index.html">Главная</a></li>
                        <li class="item-142"><a href="stock/19-podarki-k-zakazu.html">Акции</a></li>
                        <li class="item-246"><a href="dostavka-i-oplata.html">Доставка и Оплата</a></li>
                        <li class="item-143"><a href="comments.html">Отзывы</a></li>
                        <li class="item-144"><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>


            <div id="catalog-menu">
                <!--корзина-->
                <div id="cart">
                    <!-- Virtuemart 2 Ajax Card -->
                    <div class="vmCartModule " id="vmCartModule">
                        <div class="vmCartModule-title">Ваша корзина скучает ;)	</div>
                        <div class="vmCartModule-total">
                            <span class="total_products">0 шт.</span>
                            <span class="total">на сумму : <strong>0<span class="rur">р</span></strong></span>
                        </div>
                        <div class="vmCartModule-moreproduct">
                            <div id="hiddencontainer" style=" display: none; ">
                                <div class="container">
                                    <div class="prices" style="float: right;"></div>
                                    <div class="product_row">
                                        <span class="quantity"></span>&nbsp;x&nbsp;<span class="product_name"></span>
                                    </div>
                                    <div class="product_attributes"></div>
                                </div>
                            </div>
                            <div class="vm_cart_products">
                                <div class="container"></div>
                            </div>
                            <div class="show_cart">
                                <a style="float:right;" href="/cart">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--конец корзины-->
                <!--горизнтальное меню Список категорий товаров-->
                <ul class="menu">
                    <li class="item-149"><a href="pizza.html">Пицца</a></li>
                    <li class="item-264"><a href="sushi.html">Суши</a></li>
                    <li class="item-265"><a href="rolly-assorti.html">Роллы &amp; Ассорти</a></li>
                    <li class="item-266"><a href="fastfood.html">ФАСТФУД</a></li>
                    <li class="item-177"><a href="wok-soup-salads.html">Wok, Супы &amp; Салаты</a></li>
                    <li class="item-184"><a href="desserts-napitki.html">Десерты &amp; Напитки</a></li>
                    <li class="item-180"><a href="dop-ingredient.html">Доп. ингред.</a></li>
                </ul>
                <select class="cm-mobile">
                    <option class="item-101" value="index.html">Категории меню</option>
                    <option class="item-149" value="pizza.html">Пицца</option>
                    <option class="item-264" value="sushi.html">Суши</option>
                    <option class="item-265" value="rolly-assorti.html">Роллы &amp; Ассорти</option>
                    <option class="item-266" value="fastfood.html">Фастфуд</option>
                    <option class="item-177" value="wok-soup-salads.html">Wok, Супы &amp; Салаты</option>
                    <option class="item-184" value="desserts-napitki.html">Десерты &amp; Напитки</option>
                    <option class="item-180" value="dop-ingredient.html">Доп. ингред.</option>
                </select>
                <!--конец горизнтального меню Список категорий товаров-->
            </div>

            <div class="hr-bottom">
                <!--  Begin "Unite Nivo Slider" -->
                <!--большой слайдер-->
                <div class="nivo-slider-wrapper theme-default">
                    <div id="nivo_slider_96" class="nivoSlider">
                        <a href="stock/77-skidka-10-na-zakaz.html"><img src="images/slide/01.jpg" alt="01" /></a>
                        <a href="stock/76-schastlivye-chasy.html"><img src="images/slide/02.jpg" alt="02" /></a>
                        <img src="images/slide/05.jpg" alt="05" />
                        <a href="stock/73-pervyj-zakaz-ot-800-r.html"><img src="images/slide/06.jpg" alt="06" /></a>
                        <a href="stock/19-podarki-k-zakazu.html"><img src="images/slide/03.jpg" alt="03" /></a>
                    </div>
                </div>
                <script type="text/javascript">jQuery.noConflict();
				jQuery(document).ready(function() {
				jQuery('#nivo_slider_96').show().nivoSlider({
						effect: 'sliceDownLeft',
						slices: 1,
						boxCols: 0,
						boxRows: 0,
						animSpeed: 500,
						pauseTime: 4500,
						startSlide: 0,
						directionNav: true,
						controlNav: false,
						controlNavThumbs: false,
						pauseOnHover: true,
						manualAdvance: false,
						prevText: 'Prev',
						nextText: 'Next',
						randomStart: false,
						beforeChange: function(){},
						afterChange: function(){},
						slideshowEnd: function(){},
						lastSlide: function(){},
						afterLoad: function(){}		});
				});	//ready</script>
                <!-- Конец БОльшого слайдера -->
                <!--  End "Unite Nivo Slider" -->
            </div>
        </div>   <!--  End id="header" -->


        <div id="content">
            <!--  проверка на поддержку javascript -->
            <noscript>
                <div class="error_javascript">Ваш браузер не поддерживает Javascript!<br>Для использования интернет-магазина требуется включение в Вашем браузере поддержки Javascript.</div>
            </noscript>
            <div class="ct-top">
                <!--BEGIN Search Box -->
                <!--Поиск по меню (элемент справа) -->
                <form action="/menu/search" method="get">
                    <div class="search">
                        <input name="keyword" id="mod_virtuemart_search" maxlength="36" alt="Search" class="inputbox" type="text" size="36" value="Поиск по меню..." onblur="if(this.value=='') this.value='Поиск по меню...';" onfocus="if(this.value=='Поиск по меню...') this.value='';" />
                        <input type="submit" value="Search" class="button" onclick="this.form.keyword.focus();" />
                    </div>
                    <input type="hidden" name="limitstart" value="0" />
                    <input type="hidden" name="option" value="com_virtuemart" />
                    <input type="hidden" name="view" value="category" />
                </form>
                <!-- End Search Box -->
            </div>

            <div class="ct-center">
                <div id="system-message-container"></div>
                <div class="item-page">
                    <!-- список посредине экрана (просто текст) -->
                    <div style="max-width: 1000px; margin: 0 auto;">
                        <h1>Пицца, суши и роллы в Новомосковске «GoldFish»</h1>
                        <p>Компания - кафе Goldfish предлагает отличное меню для доставки:</p>
                        <ul>
                            <li>пицца</li>
                            <li>суши</li>
                            <li>роллы</li>
                            <li>лапша Wok</li>
                            <li>супы</li>
                            <li>салаты</li>
                        </ul>
                    </div>
                    <!-- окончание списка посредине экрана (просто текст) -->
                    <!-- таблица 1 - 2 - 3 -->
                    <table id="mht" style="width: 100%; margin-bottom: 50px;" border="0" cellspacing="0" cellpadding="5">
                        <tbody>
                            <tr>
                                <td><img src="images/number1.png" border="0" alt="Незабываемый вкус" title="Незабываемый вкус" style="display: block; margin-left: auto; margin-right: auto;" /></td>
                                <td><img src="images/number2.png" border="0" alt="Высокое качество" title="Высокое качество" style="display: block; margin-left: auto; margin-right: auto;" /></td>
                                <td><img src="images/number3.png" border="0" alt="Быстрая доставка" title="Быстрая доставка" style="display: block; margin-left: auto; margin-right: auto;" /></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><span style="font-size: x-large;">Незабываемый вкус</span></td>
                                <td style="text-align: center;"><span style="font-size: x-large;">Высокое качество</span></td>
                                <td style="text-align: center;"><span style="font-size: x-large;">Быстрая доставка</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- конец таблицы 1 - 2 - 3 -->
                </div>
            </div>

            <div class="ct-bottom">

                <div class="customstock">
                    <p class="font-size18 floatleft">АКЦИИ</p>
                    <p class="link-all-stock"><a href="stock">посмотреть все акции</a></p>
                    <div class="clear"> </div>
                </div>

                <div class="nspMain autoanim hover " id="nsp-stock-carusel" data-config="{
							'animation_speed': 400,
							'animation_interval': 8000,
							'animation_function': 'Fx.Transitions.Quad.easeIn',
							'news_column': 3,
							'news_rows': 1,
							'links_columns_amount': 0,
							'links_amount': 0
			}">
                    <div class="nspArts bottom" style="width:100%;">
                        <div class="nspTopInterface">
                            <span class="nspPrev">Предыдущая</span>
                            <span class="nspNext">Следующая</span>
                        </div>
                        <div class="nspArtScroll1">
                            <div class="nspArtScroll2 nspPages10">
                                <div class="nspArtPage active nspCol10">

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;clear:both;">
                                        <a href="stock/77-skidka-10-na-zakaz.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.07stock-carusel.jpg" alt="Скидка 10% на заказ" style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/77-skidka-10-na-zakaz.html" title="Скидка 10% на заказ" target="_self">Скидка 10% на заказ</a>
                                        </h4>
                                    </div>

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;">
                                        <a href="stock/76-schastlivye-chasy.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.06stock-carusel.jpg" alt="Счастливые часы" style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/76-schastlivye-chasy.html" title="Счастливые часы" target="_self">Счастливые часы</a>
                                        </h4>
                                    </div>

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;">
                                        <a href="stock/75-predvaritelnyj-zakaz.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.01stock-carusel.jpg" alt="Предварительный заказ" style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/75-predvaritelnyj-zakaz.html" title="Предварительный заказ" target="_self">Предварительный заказ</a>
                                        </h4>
                                    </div>

                                </div>
                                <div class="nspArtPage nspCol10">

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;clear:both;">
                                        <a href="stock/74-den-rozhdeniya.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.02stock-carusel.jpg" alt="День рождения" style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/74-den-rozhdeniya.html" title="День рождения" target="_self">День рождения</a>
                                        </h4>
                                    </div>

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;">
                                        <a href="stock/73-pervyj-zakaz-ot-800-r.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.03stock-carusel.jpg" alt="Первый заказ от 800 р." style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/73-pervyj-zakaz-ot-800-r.html" title="Первый заказ от 800 р." target="_self">Первый заказ от 800 р.</a>
                                        </h4>
                                    </div>

                                    <div class="nspArt nspCol3" style="padding:0 15px 0 15px;">
                                        <a href="stock/19-podarki-k-zakazu.html" class="nspImageWrapper tleft fnull" style="margin:0 0 0 0;" target="_self">
                                            <img class="nspImage tleft fnull" src="modules/mod_news_pro_gk5/cache/sales.05stock-carusel.jpg" alt="Подарки к заказу" style="width:250px;height:150px;" />
                                            <span class="img-active"></span>
                                        </a>
                                        <h4 class="nspHeader tleft fnone has-image">
                                            <a href="stock/19-podarki-k-zakazu.html" title="Подарки к заказу" target="_self">Подарки к заказу</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- id="content" -->

        <div id="footer">
            <div class="fr-top">
                <div id="ymaps-5e135dbee1a05" class="ymaps" style="width:100%;height:550px;"></div>

                <div class="custom-contact-info">
                    <p><strong>«GoldFish»</strong> находится по адресу:</p>
                    <p>г. Новомосковск, ул. Садовского 19</p>
                    <p> </p>
                    <p><strong>Доставка еды в г. Новомосковск от «GoldFish»</strong></p>
                    <p>Режим работы: с 10:30 до 23:00</p>
                    <p> </p>
                    <p><strong>Телефоны службы доставки:</strong></p>
                    <p><a href="tel:+7(906)5300080">8 (906) 530-00-80</a></p>
                    <p><a href="tel:+7(960)5950202">8 (960) 595-02-02</a></p>
                </div>
            </div>
            <div class="fr-bottom">
                <p class="white">Copyright &copy;  2017 - 2020 goldfish-nmsk.ru </p>
            </div>

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter46657284 = new Ya.Metrika({
							id:46657284,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/46657284" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        </div> <!-- footer-->
    </div>
</body>
</html>