
@section Mainmenu {
    <div id="mobile-menu">
        <ul class="menu">
            <li><a asp-action="Index">Главная</a></li>
            <li class="active"><a asp-action="Stocks">Акции</a></li>
            <li><a asp-action="Oplata">Доставка и Оплата</a></li>
            <li><a asp-action="Otzovik">Отзывы</a></li>
            <li><a asp-action="Contacts">Контакты</a></li>
        </ul>
    </div>
    <!--меню для компа (меню справа Главная Акции и т.д.)-->
    <div id="main-menu">
        <ul class="menu">
            <li><a asp-action="Index">Главная</a></li>
            <li class="active"><a asp-action="Stocks">Акции</a></li>
            <li><a asp-action="Oplata">Доставка и Оплата</a></li>
            <li><a asp-action="Otzovik">Отзывы</a></li>
            <li><a asp-action="Contacts">Контакты</a></li>
        </ul>
    </div>
}

@section Header  {

}

@section Body  {
    <div id="content">
    </div>
}

@section Footer {

}
